.compare {
  display: flex;
}
.compare > div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex: 0 1 50%;
  height: 60vh;
  padding: 32px;
}
.compare > div:first-child {
  border-right: 1px solid #D8DEE9;
}